<section class="container">
  <h3 class="CheckoutHeading">Checkout Cart
  </h3>

        <div class="container">
        <div style="display:flex;justify-content:space-between;font-weight:bold;">
        <p class="shoppingCart-ItemHeading"  >Item </p>
        <p class="shoppingCart-ItemHeading QuantityHeading">Qty</p>
        <p class="shoppingCart-ItemHeading">Price</p>
        </div></div>
    <hr>
        <% # Grouping cart items in a hash %>
        <% cart_items = @cart_items.all.map.group_by { |model| model = model.menu_item_name } %>
        <% total = 0 %>
        <% cart_items.each do |cart_item| %>
        <% total = total + @cart_items.where(menu_item_name: cart_item.last.first.menu_item_name).count * cart_item.last.first.menu_item_price %>
        
        <section class="container">
          <div style=display:flex;justify-content:space-between;>
            <p style="width:20%" class="shoppingCart-Item"><%= cart_item.last.first.menu_item_name %> </p>
            <p class="shoppingCart-Item"> <%= @cart_items.where(menu_item_name: cart_item.last.first.menu_item_name).count %> </p>
            <p class="shoppingCart-Item"> ₹ <%= @cart_items.where(menu_item_name: cart_item.last.first.menu_item_name).count * cart_item.last.first.menu_item_price %> </p>
          </div>
        </section>

        <% end %>

        <hr>

        <div class="container" style="display:flex; justify-content:space-between;">
        <p class="Total">Total</p>
        <p> ₹ <%= total %> </p>
        </div>

        <hr>
        <% if !ShoppingCart.where(user_id: session[:current_user_id]).any? %>
        <% flash[:error] = "Nothing to Checkout! please add items in cart to checkout" %>
        <% else %>
        <div style="text-align:center;">
          <%= link_to "Confirm & Place Order", order_items_path(@menu_items, @cart_items), method: :post, class: "btn btn-secondary btn-success", style: "color:#fff;" %>
        </div>
        <% end %>
        <br/>
        <%= link_to "Back", cafe_path, method: :get, class: "btn btn-success btn-sm", style: "color:#fff;" %>

</section>
<br/>