<br/>
<div class="Design-Menu">

<h2 style="color:darkblue;text-align:center;font-family:Montserrat;font-weight:600;">Menu Categories</h2> 
<br/>
<div style="display:flex;justify-content:space-evenly;align-items:center;">
  <%= button_to "Show All Menu Items", menu_items_path, class: "btn btn-primary btn-sm", method: :get, style: "text-transform:none;" %>
  
  <%= button_to "Create New Menu Category", new_menu_category_path, class: "btn btn-sm btn-primary", method: :get, style: "text-transform:none;" %>
</div>
<br/><br/>


<% navbar_id = "a" %>

<% @menu_categories.each do |menu_category| %>

<nav class="navbar navbar-light">  
  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#<%= navbar_id %>" aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">

      <i class="fas fa-bars"></i>
    </button>

        <h3> <%= menu_category.name %></h3>
        <div class="btn-group dropstart">
        <i class="fas fa-ellipsis-v btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu" >
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Show Category", menu_category, class: "rails_link_to" %></p></li>
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Edit Category", edit_menu_category_path(menu_category), class: "rails_link_to" %></p></li>
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Destroy Category", menu_category, method: :delete, data: { confirm: "Are you sure?" }, class: "rails_link_to" %></p></li>
            <% # <li><hr class="dropdown-divider"></li> %>
          </ul>
        </div>
          
  </div>
</nav>
<div class="collapse" id="<%= navbar_id %>">
  <div class="shadow-3 p-4">
    
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
     <% #@menu_items.each do |menu_item| %> 
       <% @menu_items.where(menu_category_id: menu_category.id).each do |menu_item| %>

      <tr>
        <td><%= menu_item.menu_category_id %></td>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.price %></td>
        <td>

        <div class="btn-group dropstart">
        <i class=" btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu" >
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Show Item", menu_item, class: "rails_link_to" %></p></li>
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Edit Item", edit_menu_item_path(menu_item), class: "rails_link_to" %></p></li>
            <li><p class="MenuCategoryDropdown-text" ><%= link_to "Destroy Item", menu_item, method: :delete, data: { confirm: "Are you sure?" }, class: "rails_link_to" %></p></li>
            <% # <li><hr class="dropdown-divider"></li> %>
          </ul>
        </div>

        </td>
      </tr>

    <% end %>
    </tbody>
    </table>
    <br/>

    <%= link_to "New Menu Item", new_menu_item_path(:menu_category_id => menu_category.id), class: "btn btn-success btn-sm", style: "color:#fff;" %>
  </div>
</div>

<% navbar_id = navbar_id + "1" %>

<% end %>

<br/>
<br/>