<br/>
<p class="MenuItemDetails" >
  <strong class="MenuItemLabel">Menu category:</strong>
  <div class= "MenuItemField-Description">
  <%= MenuCategory.where(id: @menu_item.menu_category_id).pluck(:name).first %>
  </div>
</p>

<p class="MenuItemDetails" >
  <strong class="MenuItemLabel">Name:</strong>
    <div class= "MenuItemField-Description">
  <%= @menu_item.name %>
  </div>
</p>


<p class="MenuItemDetails" >
  <strong class="MenuItemLabel">Description:</strong>
    <div class= "MenuItemField-Description">
  <%= @menu_item.description %>
  </div>
</p>


<p class="MenuItemDetails" >
  <strong class="MenuItemLabel">Price:</strong>
    <div class= "MenuItemField-Description">
  <%= @menu_item.price %>
  </div>
</p>

<%= link_to "Edit", edit_menu_item_path(@menu_item), class: "btn rails_link_to" %> 

<%= link_to "Back", menu_categories_path, class: "btn rails_link_to" %>
